.service{
    padding: 26px;
    text-align: left;
    margin-left: 12px;
}
.service strong{
    font-size: 1.1rem ;
    margin-right: 6px;
    font-weight: 600;
}
.service span{
    font-size: 1.1rem ;
    margin-right: 6px;
}
.service h2{
    font-size: 1.1rem ;
    margin-right: 6px;
    color: var(--dark)
}
.service button{
    background: var(--success);
    border: none;
    font-family: 'Poppins';
    font-size: 1rem;
    margin-top: 12px;
}
.service button:hover{
    background: #4fe769;
}
.rows{
    margin-top: 12px;
}