.cardPlans {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardPlans button {
  background: var(--success);
  border: none;
  font-family: "Poppins";
  font-size: 1.1rem;
}
.service {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.service h1 {
  font-size: 1.4rem;
  text-decoration: underline;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--dark);
}
.service span {
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: lighter;
  color: var(--dark);
}
.service h4 {
  font-size: 1.6rem;
  font-family: "Poppins";
  font-weight: bold;
  text-decoration: underline;
  color: var(--dark);
  margin-top: 25px;
}
.service p {
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  .cardPlans {
    flex-direction: row;
    margin-top: 18px;
  }
  .service h1 {
    font-size: 1.2rem;
  }
  .service span {
    font-size: 1rem;
  }
  .service h4 {
    font-size: 1.4rem;
  }
  .service p {
    font-size: 0.9rem;
  }
  .container-fluid {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .cardPlans {
    flex-direction: row;
    margin-top: 18px;
  }
  .container-fluid {
    padding: 0;
  }
}

