@media (max-width: 768px) {
  .branding {
    width: 40%;
    min-height: 100%;
  }
}
@media (max-width: 768px) {
  #search-area input {
    width: 100vw;
    flex-direction: column;
  }
  #search-area {
    justify-content: center;
  }
}
