* {
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

.searchButton {
    background-color: var(--success);
    text-align: center;
    border: none;
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 20px;
}

.benefitsSection {
    background-color: #e4e4e4;
    color: black;
}
.benefitsSection .provider .title h3 {
    color:var(--dark);
    font-size: 2rem;
    font-family: 'Poppins';
}

.benefitsSection .provider .data span {
    color: var(--dark);
    font-weight: lighter;
    font-size: 1.4rem;
    text-align: start;
}

.benefitsSection .provider .title h4 {
    color: var(--dark);
    font-size: 1.8rem;
    font-family: 'Poppins';
    margin-top: 18px;
}

.benefitsSection .provider .data li {
    color:var(--dark);
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: start;
}
.platform img{
    width: 70%;
}
.provider{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}
@media(max-width: 768px){
    .platform img{
        display: none;
    }
    .benefitsSection .provider .title h3 {
        font-size: 1rem;
    }
    
    .benefitsSection .provider .data span {
        font-size: 1rem;
    }
    
    .benefitsSection .provider .title h4 {
        font-size: 1rem;
    }
    
    .benefitsSection .provider .data li {
        font-size: 1rem;
    }

    #searchSelects{
        flex-direction: row;
    }
}
