.footerMain{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.follow {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: flex-start;
  padding: 8px 22px;
}
.follow strong {
  font-size: 1.4rem;
  color: var(--white);
}
.follow span {
  font-size: 1.1rem;
  color: var(--white);
  margin-bottom: 12px;
}
.follow a {
  font-size: 0.9rem;
  margin-bottom: 12px;
}
.footerMain img {
  width: 25%;
  margin-top: 12px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 8px 22px;
}
.contact strong {
  font-size: 1.4rem;
  color: var(--white);
}
.contact span {
  font-size: 1.1rem;
  color: var(--white);
  margin-top: 12px;
}
.contact a {
  font-size: 0.9rem;
  margin-top: 6px;
}

@media (max-width: 768px) {
  .contact  {
    padding: 0;
  }
  .footerMain{
    display: flex;
    flex-direction: column;
  }
  .follow strong {
    font-size: 1rem;
    color: var(--white);
  }
  .follow span {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 12px;
  }
  .follow a {
    font-size: 0.9rem;
    margin-bottom: 12px;
  }
  .footerMain img {
    width: 35%;
    margin-top: 12px;
    margin: 0 auto;
  }
}
@media(min-width: 800px){
  .contact  {
    padding: 0;
  }
  .follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .follow strong {
    font-size: 1.6rem;
    color: var(--white);
  }
  .follow span {
    font-size: 1.3rem;
    color: var(--white);
    margin-bottom: 12px;
  }
  .follow a {
    font-size: 1.1rem;
    margin-bottom: 12px;
  }
  .footerMain img {
    width: 35%;
    margin-top: 12px;
  }
}
