@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;1,100;1,200;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
#descriptionFacilite {
  height: 94vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 8px;
  align-items: center;
  text-align: center;
  color: var(--white);
}
#descriptionFacilite span{
 font-size: 1.4rem;
 font-family: "Poppins", sans-serif;
 font-weight: lighter;
}
#descriptionFacilite a{
  font-family: "Poppins", sans-serif;
 font-size: 1rem;
 color: var(--white);
 font-weight: lighter;
 text-decoration: underline;
 padding: 22px;
}
#buttonsFacilite{
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  margin-top: 26px;
}
#buttonsFacilite button{
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--success);
  border: none;
  color: var(--white);
}
#cellPhoneImg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;  
  position: relative;
  padding: 0;
  height: 100%;
}
#buttonsFacilite{
  display: flex;
  justify-content: center;
}
#descriptionFacilite h3 {
  color: var(--white);
  font-size: 2.4rem;
}
#cardCategory{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}
#cardCategory button{
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--success);
  border: none;
  color: var(--white);
}
@media (max-width: 768px) {
  #descriptionFacilite h3 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    display: flex;
    text-align: center;
    padding: 12px 8px;
    margin-top: 16px;
    font-size: 1.1rem;
  }
  #descriptionFacilite span {
    color: var(--white);
    text-align: center;
    padding: 4px 10px;
    font-weight: lighter;
    margin-top: 4px;
    font-size: 0.85rem;
  }
  #buttonsFacilite {
    font-family: "Poppins", sans-serif;
    display: flex;
    padding: 16px 8px;
    justify-content: center;
  }
  #buttonsFacilite button {
    background-color: var(--success);
    font-family: "Poppins", sans-serif; 
    border: none;
    color: var(--white);
    font-size: 0.9rem;
  }
  #cellPhoneImg{
    display: none;
  }
  #cardCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  #cardCategory button{
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    background-color: var(--success);
    border: none; 
    color: var(--white);
  }
}
@media(max-width: 1024px){
  #cellPhoneImg{
    display: none;
  }
}