@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;1,100;1,200;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/* #descriptionFacilite {
  height: 94vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 8px;
  align-items: center;
  text-align: center;
  color: var(--white);
} */
/* #descriptionFacilite span{
 font-size: 1.4rem;
 font-family: "Poppins", sans-serif;
 font-weight: lighter;
} */
/* #descriptionFacilite a{
  font-family: "Poppins", sans-serif;
 font-size: 1rem;
 color: var(--white);
 font-weight: lighter;
 text-decoration: underline;
 padding: 22px;
} */
#buttonsFacilite {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  margin-top: 26px;
}
/* #buttonsFacilite button{
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--success);
  border: none;
  color: var(--white);
} */
#cellPhoneImg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
  padding: 0;
  height: 100%;
}
/* #buttonsFacilite{
  display: flex;
  justify-content: center;
} */
/* #descriptionFacilite h3 {
  color: var(--white);
  font-size: 2.7rem;
  font-weight: bold;
} */

#descriptionFacilite .title h3 {
  line-height: 0.9 !important;
  text-align: start;
  color: var(--white);
  font-size: 2.7rem;
  font-weight: bold;
}
#descriptionFacilite .description {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  font-weight: lighter;
  font-size: 1.1rem;
  text-align: start;
}

#descriptionFacilite .buttons {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  font-weight: lighter;
  font-size: 1.2rem;
}
#descriptionFacilite .buttons .downloadButton {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--success);
  text-align: center;
  border: none;
  color: var(--white);
}

/* #cardCategory{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}
#cardCategory button{
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--success);
  border: none;
  color: var(--white);
} */
@media (max-width: 768px) {
  #descriptionFacilite {
    min-width: 60vw;
    min-height: 60vh;
  }
  #descriptionFacilite .title h3 {
    line-height: 0.9 !important;
    text-align: start;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
  }

  #descriptionFacilite .description {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    font-weight: lighter;
    font-size: 0.7rem;
    text-align: start;
  }

  #descriptionFacilite .buttons {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    font-weight: lighter;
    font-size: 0.7rem;
  }
  #descriptionFacilite .buttons .knowMoreButton {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    border: none;
  }
  #descriptionFacilite .buttons .downloadButton {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: var(--success);
    text-align: center;
    border: none;
    color: var(--white);
  }
  #cellPhoneImg {
    display: none;
  }
}
@media (min-width: 768px) {
  #cellPhoneImg {
    display: none;
  }
  .descriptionFacilite{
    padding: 16px;
  }
  #descriptionFacilite .title h3 {
    line-height: 0.9 !important;
    text-align: start;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 12px;
  }
  #descriptionFacilite .description {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: start;
  }

  #descriptionFacilite .buttons {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 16px;
  }
  #descriptionFacilite .buttons .knowMoreButton {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    border: none;
  }
  #descriptionFacilite .buttons .downloadButton {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: var(--success);
    text-align: center;
    border: none;
    color: var(--white);
  }
}
@media(min-width: 1280px){
  #cellPhoneImg {
    display: block;
  }
}
